@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box 20px;
  
}


body {
  font-family: 'Nunito', sans-serif;
  background-color: #e6e6e6;
  min-height: 100vh;
  padding: 0px 0px; /* Espaço no topo e embaixo */
  display: flex;
  justify-content: center;
}


.container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  /*height: 600px;*/
  border-radius: 0;
  overflow: hidden;
  max-width: 100%;
}

.caixa-esquerda {
  background-color: #1d2d3d;
  color: white;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
}

.caixa-esquerda h2 {
  font-size: 75px;
  font-weight: 500;
  margin-bottom: 10px;
}

.caixa-esquerda p {
  font-size: 26px;
  margin-bottom: 10px;
}

.botao-secundario {
  background-color: transparent;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 1.5px solid white;
  width: 100px;
  margin-bottom: 10px;
}

.botao-secundario:hover {
  background-color: white;
  color: #1d2d3d;
}

.logo {
  width: 200px;
}

.voltar {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.voltar:hover {
  color: #ccc;
}

.caixa-direita {
  background-color: #e6e6e6;
  width: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.caixa-direita h2 {
  font-size: 75px;
  font-weight: 600;
  margin-bottom: 20px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: #e9f0f7;
  width: 100%;
  max-width: 200px;
  outline: none;
}

.botao-principal {
  background-color: #1d2d3d;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.botao-principal:hover {
  background-color: #2e425a;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .caixa-esquerda,
  .caixa-direita {
    width: 100%;
    border-radius: 0;
  }
}

.logo {
  width: 150px;
}
