body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: none;
}

fieldset{
  border: none;
}

.container {
  background-color: #d9d9d9;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 260px;
  text-align: center;
  position: relative;
}

/* Botão X */
.container .close-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 22px;
  color: #2b55ff;
  cursor: pointer;
  background: none;
  border: none;
}

h1{
  text-align: center;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin-bottom: 25px;
}

/* Campos de entrada */
input[type="text"], input[type="date"], input[type="number"], textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #b8c7f0;
  margin-bottom: 12px;
  font-size: 14px;
  color: #000;
  outline: none;
}

textarea {
  resize: none;
  height: 70px;
}

/* Botões */
.salvar, .editar {
  align-items: center;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 5px;
  background-color: #d0d0d0;
  color: #000;
}

button:hover {
  background-color: #c0c0c0;
}

/* Validação de Formulário */
input[type="text"]{
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus{
  border-color: #214CCE;
  outline: none;
}

input.error{
  border-color: #e74c3c;
}

input.success{
  border-color: #27ea60;
}

.error-message{
  display: block;
  color: black;
  font-size: 14px;
  margin-top: 5px;
  min-height: 20px;
}


/*Responsividade*/
@media (max-width: 600px){
  .form-wrapper{
    padding: 1.5rem;
  }

  .form-group input {
    width: 20rem;
  }
}