@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  border-radius: 100px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.caixa-esquerda, .caixa-direita {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.caixa-esquerda {
  background-color: #1d2d3d;
  color: white;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.caixa-direita {
  background-color: #ffffff;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.4;
}

p {
  font-size: 24px;
  margin: 10px 0 20px;
}

input {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: #e9f0f7;
  width: 100%;
  max-width: 250px;
  outline: none;
}

.botao-principal {
  background-color: #1d2d3d;
  color: white;
  padding: 12px;
  width: 100%;
  max-width: 250px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.botao-principal:hover {
  background-color: #2e425a;
}

.botao-secundario {
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  width: 120px;
  margin-top: 10px;
}

.botao-secundario:hover {
  background-color: white;
  color: #1d2d3d;
}

.logo {
  width: 230px;
  margin-bottom: 20px;
}

.voltar {
  position: fixed;
  top: 25px;
  left: 30px;
  color: #1d2d3d;
  font-size: 32px;
  text-decoration: none;
  z-index: 9999;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
    border-radius: 0;
  }

  .caixa-esquerda, .caixa-direita {
    width: 100%;
    border-radius: 0;
  }
}
