* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
 
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'Baumans';
  src: url('../fonts/Baumans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Viga';
  src: url('../fonts/Viga-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
body {
  background-color: #f0f2f5;
}
 
header {
  background-color: #214CCE;
  display: flex;
  justify-content: space-between; /* separa menu e logo */
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

header img {
  height: 130px;   /* aumenta a logo */
  width: auto;    /* mantém proporção */
  object-fit: contain;
}

/* BOTÃO MENU HAMBÚRGUER */
.menu-toggle {
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1100; /* fica acima do menu */
}

/* MENU LATERAL */
nav#menu {
  position: fixed;
  top: 0;
  left: -250px; /* escondido */
  width: 250px;
  height: 100%;
  background-color: #214CCE;
  padding-top: 80px;
  transition: left 0.3s ease; /* animação suave */
  z-index: 1000;
}

nav#menu ul {
  list-style: none;
  padding: 0;
}

nav#menu ul li {
  margin: 20px 0;
  text-align: left;
}

nav#menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 20px;
  display: block;
  transition: background 0.3s;
}

nav#menu ul li a:hover {
  background: #1565c0;
  border-radius: 5px;
}

/* QUANDO O MENU ESTÁ ABERTO */
nav#menu.open {
  left: 0;
}

nav a {
   margin: 0 10px;
   text-decoration: none;
   color: #ffffff;
   font-weight: bold;
   font-size: 21px;
}
 
.hero {
  background: url('../img/imagem banner.jpg') no-repeat center center;
  background-size: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  padding-left: 90px;
  position: relative;
}
 
.hero::after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* escurece a imagem mais */
  z-index: 1;
}
 
.hero h1 {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 60px;
  font-weight: 300;
  font-family: 'Nunito';
  line-height: 1.3;
  text-align: left;
}
 
.hero h1 span {
  display: block;
}
 
.hero strong {
  color: #ffffff;
  font-size: 110px;
  font-family: 'Baumans';
  font-weight: 100;
  text-align: center;
}
 
.section {
  padding: 20px 30px;
}
 
.caixa-azul {
    padding: 100px 150px; 
    text-align: center;
    font-size: 25px;
    color: #000;
    width: 100%;
    box-sizing: border-box;
}

.caixa-azul h2 {
    color: #2C3E50; 
    margin-bottom: 10px;
    font-size: 60px;
    text-align: center;
}

.caixa-azul p {
    margin: 8px 0;
    line-height: 1.5;
}


h2{
font-size: 48px;
text-align: left;
color: #2C3E50;
}

.footer {
  background-color: #214CCE;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
 
@media (max-width: 768px) {
 
  body {
    padding: 0;
    margin: 0;
  }
 
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding: 10px 20px;
  }
 
  header img {
    height: 50px;
  }
 
  nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
 
  nav a {
    font-size: 14px;
    padding: 4px;
  }
 
  .menu-perfil {
    margin-left: 10px;
  }
 
  .hero {
    flex-direction: column;
    padding: 60px 20px 40px;
    background-size: cover;
    height: 500px;
    text-align: center;
  }
 
  .hero h1 {
    font-size: 22px;
    line-height: 1.2;
  }
 
  .hero strong {
    font-size: 30px;
  }
 
  .planos-section {
    padding: 20px 10px;
  }
 
  .planos {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
  }
 
  .plano {
    width: 100%;
    font-size: 16px;
    min-height: auto;
    padding: 15px;
    min-height: 250px;
  }
 
  .plano h3 {
    font-size: 18px;
  }
 
  .plano p {
    font-size: 16px;
  }
 
  .plano h4 {
    font-size: 14px;
  }
 
  .plano ul {
    font-size: 14px;
  }
 
  #videos h2,
  #tabela h2 {
    font-size: 40px;
  }
 
  .videos {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
  }
 
  .video-card {
    width: 100%;
    max-width: 320px;
  }
 
  .play-button {
    font-size: 28px;
    padding: 12px;
  }
 
  .tabela {
    padding: 10px;
  }
 
  table {
    font-size: 11px;
  }
 
  th {
    font-size: 13px;
    text-align: center;
  }
 
  td {
    padding: 6px;
  }
 
  .footer {
    padding: 10px;
    font-size: 13px;
  }
}