body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #222;
    text-align: center;
}
 
main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
 
h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
 
.ola {
    color: #2764eb;
}
 
small {
    color: #444;
    font-weight: 500;
}
 
h2 {
    font-size: 1.2rem;
    color: #1e1e1e;
    margin-top: 30px;
    font-weight: 700;
}
 
figure.video-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}
 
figure.video-card img {
    width: 100%;
    height: auto;
    display: block;
}
 
figure.video-card figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: #fff;
    padding: 10px;
    font-weight: 500;
    text-align: left;
}
 
.link {
    display: inline-block;
    margin: 15px 0;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
}
 
button {
    background-color: #3166e0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.95rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    margin: 10px auto 0 auto;
}
 
.status {
    font-size: 0.8rem;
}
 
.online {
    color: #2ecc71;
}
 
.offline {
    color: #e74c3c;
}
 
footer {
    background-color: #3166e0;
    color: white;
    padding: 15px 0;
    font-size: 0.8rem;
    margin-top: 30px;
    line-height: 1.4;
}