/* Reset básico */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}
body {
 background-color: #f0f0f0;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}
.container {
 background-color: #ffffff;
 width: 360px;
 padding: 20px;
 border-radius: 20px;
 box-shadow: 0 4px 12px rgba(0,0,0,0.2);
 text-align: center;
}
/* Cabeçalho */
header h1 {
 font-size: 22px;
 font-weight: bold;
 margin-bottom: 20px;
}
/* Formulário */
form {
 display: flex;
 flex-direction: column;
 gap: 12px;
 text-align: left;
}
label {
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 2px;
}
input, select {
 padding: 10px;
 border: 1px solid #bbb;
 border-radius: 8px;
 font-size: 14px;
 width: 100%;
}
input[readonly] {
 background-color: #dbe6f7;
 border: none;
 font-weight: bold;
 color: #000;
}
/* Sessão de pagamento */
.sessao_pagamento {
 margin-top: 20px;
 padding: 15px;
 background-color: #f9f9f9;
 border-radius: 10px;
}
.sessao_pagamento h2 {
 font-size: 18px;
 margin-bottom: 15px;
 text-align: center;
}
#pagamento {
 background-color: #e6e6e6;
 font-weight: bold;
}
/* Botão */
.finalizar {
 margin-top: 20px;
 padding: 12px;
 background-color: #1f70d1;
 color: white;
 font-size: 16px;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 transition: 0.3s;
 font-weight: bold;
 width: 100%;
}
.finalizar:hover {
 background-color: #14529a;
}
/* Rodapé */
.footer {
 background-color: #214CCE;
color: white;
 text-align: center;
padding: 15px 0;
 margin-top: 40px;
}