<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Professor PlanoB</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/cadlog/cad_professor.css">
</head>

<body>
  <main class="container">
    <a href="/" class="voltar"><i class="fas fa-arrow-left"></i></a>

    <section class="caixa-esquerda">
      <h2>CADASTRO</h2>
      <input type="text" placeholder="Usuário">
      <input type="email" placeholder="E-mail">
      <input type="password" placeholder="Senha">
      <input type="text" placeholder="CREF">

    <button class="botao-principal" id="cadastrarBtn">Criar</button>
    </section>

<section id="popup" class="popup">
  <button class="close-btn" id="closePopup">&#x276E;</button>
  <div class="popup-content">
    <img src="../img/logo plano b.png" alt="Logo PlanoB" class="popup-logo">
    <h2>Obrigado por se inscrever no PlanoB!</h2>
    <p>Estamos verificando seus dados!</p>
    <small>Aguarde! Entraremos em contato.</small>
  </div>
</section>

    <aside class="caixa-direita">
      <h2>Faça parte da gente!</h2>
      <p>Já tem uma conta?</p>
      <a href="/login" class="botao-secundario">Entrar</a>
    </aside>

  <script>
  const popup = document.getElementById('popup');
  const cadastrarBtn = document.getElementById('cadastrarBtn');
  const closePopup = document.getElementById('closePopup');

  cadastrarBtn.addEventListener('click', () => {
    popup.style.display = 'flex';
  });

  closePopup.addEventListener('click', () => {
    popup.style.display = 'none';
  });

  window.addEventListener('click', (e) => {
    if(e.target === popup) {
      popup.style.display = 'none';
    }
  });
</script>
  </main>
</body>
</html>
