<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Aluno</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/cadlog/cad_professor.css">
</head>

<body>
  <div class="container">
    <a href="/" class="voltar"><i class="fas fa-arrow-left"></i></a>
    <div class="caixa-esquerda">
      <h2>CADASTRO</h2>
      <input type="text" placeholder="Usuário">
      <input type="email" placeholder="E-mail">
      <input type="password" placeholder="Senha">
      <input type="cref" placeholder="CREF">
      <button class="botao-principal">Criar</button>
    </div>
    <div class="caixa-direita">
      <img src="../img/logo plano b.png" alt="Logo aluno" class="logo" />
      <h2>Olá Professor,<br>Faça parte da gente!</h2>
      <p>Já tem uma conta?</p>
      <a href="/login" class="botao-secundario">Entrar</a>
    </div>
  </div>
</body>
</html>
