<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title>PlanoB</title>
  <link rel="stylesheet" href="../css/planob.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <header>
    <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
    <img src="../img/logo plano b.png" alt="LogoPlanoB" />

      <nav id="menu">
    <ul>
      <li><a href="../html/cadastroaluno.html">Cadastro</a></li>
      <li><a href="../html/loginaluno.html">Login</a></li>
      <li><a href="#">Planos</a></li>
      <li><a href="#">Sobre nós</a></li>
    </ul>
  </nav>

  </header>

  <section class="hero">
    <h1><span><strong>PlanoB</strong></span><span>Treine onde quiser,</span><span>quando quiser</span></h1>
  </section>

  <div class="caixa-azul">
    <h2>Sem tempo para academia?</h2>
    <p><strong>Sem problemas!</strong> Treinar em casa nunca foi tão fácil!</p>
    <p>
      Acesse nosso site, escolha o plano ideal para você e comece hoje mesmo a transformar sua rotina
      com vídeos exclusivos e treinos feitos por profissionais. 
      Seu corpo, seu ritmo, sua casa, seu bem-estar
      a um clique de distância!
    </p>
  </div>

<script>
  function toggleMenu() {
    document.getElementById("menu").classList.toggle("open");
  }
</script>

<footer class="footer">
    <p>© 2025 PLANOB<br/>TODOS OS DIREITOS RESERVADOS.</p>
</footer>

</body>
</html>
