<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Todos os Vídeos — PlanoB</title>
  <link rel="stylesheet" href="../../css/videos/videosfree.css" />
</head>
<body>
<header>
 
<nav class="pagehead">
  <a href="/" class="back" aria-label="Voltar">
    <svg viewBox="0 0 24 24" class="icon" aria-hidden="true">
      <path d="M15.5 4.5 7 12l8.5 7.5" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
  <h1 id="h1">Todos os Vídeos</h1>
</nav>
 
</header>
<main>
  <section aria-label="Lista de vídeos">
  <ul class="video-list">
  <li>
    <article class="card">
      <a href="assistir">
        <h2>Treino de peito</h2>
        <time datetime="PT25M">25 min</time>
      </a>
    </article>
  </li>
 
  <li>
    <article class="card">
      <a href="assistir">
        <h2>Treino de costas</h2>
        <time datetime="PT30M">30 min</time>
      </a>
    </article>
  </li>
 
  <li>
    <article class="card">
      <a href="assistir">
        <h2>Cardio</h2>
        <time datetime="PT25M">30 min</time>
      </a>
    </article>
  </li>
 
  <li>
    <article class="card">
      <a href="assistir">
        <h2>Treino de perna</h2>
        <time datetime="PT10M">30 min</time>
      </a>
    </article>
  </li>
 
  <li>
    <article class="card">
      <a href="assistir">
        <h2>Abdômen</h2>
        <time datetime="PT25M">25 min</time>
      </a>
    </article>
  </li>
 
  <li>
    <article class="card">
      <a href="assistir">
        <h2>Treino de braço</h2>
        <time datetime="PT30M">20 min</time>
      </a>
    </article>
  </li>
 
  <li>
    <article class="card">
      <a href="assistir">
        <h2>Treino de ombro</h2>
        <time datetime="PT25M">15 min</time>
      </a>
    </article>
  </li>
 
</ul>
</section>
</main>
 
<footer class="sitefooter">
  <small>© 2025 PLANOB<br/>TODOS OS DIREITOS RESERVADOS.</small>
    <a href="#conteudo" class="to-top" aria-label="Voltar ao topo">
    <svg viewBox="0 0 24 24" aria-hidden="true">
      <path d="M12 7l7 7H5l7-7z"/>
    </svg>
  </a>
</footer>
</body>
</html>